In [64]:
import pandas as pd

# Load names from CSV
df_csv = pd.read_csv('names_only.csv', header=None)
csv_names = df_csv[0].tolist()  # Convert to list

# Load names from TXT
with open('hindi_names.txt', 'r') as file:
    txt_names = file.read().splitlines()  # Read lines and strip newlines

# Combine both lists
all_names = csv_names + txt_names

# Remove duplicates and create a DataFrame
unique_names = pd.DataFrame(pd.Series(all_names).unique(), columns=['Name'])

# Save to a new CSV file
unique_names.to_csv('merged_names.csv', index=False)

In [67]:
df_csv = pd.read_csv('merged_names.csv', header=None)
df_csv.head()

        0
0    Name
1   aabid
2  aabida
3  aachal
4  aadesh

In [1]:
import pandas as pd
import re
def clean_name(name):
    if pd.isna(name):
        return ''
    name = str(name).lower()  # Convert to lowercase
    return re.sub(r'[^a-z]', '', name)

In [2]:
df_csv = pd.read_csv('merged_names.csv', header=None)
df_csv.columns = ['Name']  # Name the column for clarity

In [3]:
df_csv['Cleaned_Name'] = df_csv['Name'].apply(clean_name)

In [4]:
df_csv = df_csv.drop(columns=['Name'])

# Remove duplicates and save to a new CSV file
df_csv['Cleaned_Name'] = df_csv['Cleaned_Name'].str.strip()  # Strip any extra spaces
df_csv = df_csv.drop_duplicates()
df_csv.to_csv('cleaned_names.csv', index=False)

In [6]:
df_csv = pd.read_csv('cleaned_names.csv', header=None)
names = df_csv[0].tolist()

In [7]:
with open('cleaned_names.txt', 'w') as file:
    for name in names:
        file.write(f"{name}\n")